/* CONFIGURACIONES GENERALES */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-weight: 600;
}

html{
    scroll-behavior: smooth;
}

/* Trabajar teniendo como principal el tema oscuro*/
:root{
    --bg-blanco: #eaeaea;

    --text-color:   rgb(239, 255, 254);
    --text-color1: #fff;
    --bk-color1: rgb(11, 12, 49);
    --bk-color2: #061254;
    --bk-color3: white;
    --titulo-color: #4D6BFE;
    --buscador-color: #5b6ede;

    --texto-secundario: #8fbedb;
    --texto-primario: #ffffff;
    --bg-secundario: #4561c6;
    --bg-terciario: #2c3170;

    --blanco-azul: #fff;    
    --azul-blanco: #5b6ede;
}

.light-mode{ 
    --text-color: #2d3642;
    --text-color1: white;
    --bk-color1: white;
    --bk-color2: #71a3f9;
    --bk-color3: #4D6BFE;
    --bg-secundario: #efefef;
    --bg-terciario: #ffffff;
    --texto-secundario: #5b599e;
    --texto-primario: #4D6BFE;

    --blanco-azul: #5b6ede;    
    --azul-blanco: #fff;

}

a{
    text-decoration: none;
}

body{
    height: 100vh;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */






/* BARRA DE NAVEGACION */

.header{
    background-color: var(--bk-color1);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
    transition:  color 1s;
}

.glass{
    backdrop-filter: blur(21px) saturate(200%);
    -webkit-backdrop-filter: blur(21px) saturate(200%);
    background-color: rgba(133, 170, 241, 0.39);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}


.titulo{
    color: var(--titulo-color);
    font-size: 2.5rem;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listaNav{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2vh;
}

.itemListaNav{
    padding: 1dvh;
    border-radius: 10px;
    cursor: pointer;
    color: var(--texto-secundario);
    transition: background-color 0.7s, all ease-in-out .2s;
}

.itemListaNav:hover{
    background-color: var(--bk-color2);
    color: var(--text-color1);
    transform: translateY(-3px);
    scale: 1.02;
}


.btnMenu{
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
    margin: 0 1dvh;
}

.lineaMenu{
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--bk-color3);
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */



/* LANDING PAGE */
header{
    text-align: center;
}
.cta{
    font-size: 3.5rem;
    background: #3D53CF;
    background: linear-gradient(to bottom left, #3D53CF 0%, #83B7CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.cta-descripcion{
    font-size: 1rem;
    background: #2C9CCF;
    background: linear-gradient(to bottom left, #2C9CCF 0%, #6A8ECF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cta-boton{
    background-color: var(--buscador-color);
    border-radius: 1rem;
    border: none;
    margin-block: 1rem ;
    font-size: 1.2rem;
    color: var(--text-color1);
    box-shadow: rgba(50, 50, 93, 0.713) 0px 50px 100px -20px, rgba(0, 0, 0, 0.672) 0px 30px 60px -30px;
    padding: .3rem .5rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.cta-boton:hover{
    transform: rotate(-2deg);
    scale: 1.1;
}
.cta-boton:hover::before, .cta-boton:hover::after{
    content: "⭐";
}

/*----*/
.cta-boton-secundario{
    background-color: var(--text-color1);
    border-radius: 1rem;
    border: none;
    margin-block: 1rem ;
    font-size: 1.2rem;
    color: var(--buscador-color);
    box-shadow: rgba(50, 50, 93, 0.713) 0px 50px 100px -20px, rgba(0, 0, 0, 0.672) 0px 30px 60px -30px;
    padding: .4rem .5rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.cta-boton-secundario:hover{
    transform: rotate(2deg);
    background-color: #f3f3f3;
    scale: 1.1;
}
.cta-boton-secundario:hover::before, .cta-boton-secundario:hover::after{
    content: "📚";
}




.titulo-gradiente{
    background: #75B2CF;
    background: linear-gradient(to bottom left, #75B2CF 0%, #0B3BCB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.titulo-descripcion{
    color: var(--texto-secundario);
}


#landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* CARRUSEL DE TESTIMONIOS*/

.opinion {
    background: var(--bk-color2);
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    min-height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;    overflow-wrap: break-word;
    word-break: break-word;
}
.opinion p {
    margin: 5px 0;
    font-weight: normal;
    font-size: 14px;
}
.perfil {
    width: 50px;  
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #ccc; 
    margin-bottom: 10px;
}
.scroll-container {
    width: 75vw;
    overflow: hidden;
    border: 1px solid var(--bk-color2);
    padding: 20px 10px;
    background: var(--azul-blanco);
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.scroll-wrapper {
    display: flex;
    width: max-content;
    animation: scrollOpinions 20s linear infinite;
}
@keyframes scrollOpinions {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
/*  */

.content-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* CARTAS DE BENEFICIOS */

.contenido{
    width: 75vw;
    text-align: center;
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    margin-block: 2rem;
}
.contenido-titular{
    font-size: 3rem;
}


.beneficios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background: var(--bg-secundario);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.carta-beneficio {
    background: var(--bg-terciario);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.beneficio-descripcion{
    padding-block: .5rem;
    color: var(--texto-secundario);
}

.media-contenido{
    display: flex;
    flex-direction: row;
    margin: 3rem 1.5rem;
}

.media-contenido img{
    width: 50%;
    height: auto;
    object-fit: cover;
}

.media-contenido div{
    background-color: var(--bg-secundario);
    text-align: start;
    padding: 2rem;
}
.lista-pasos{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-block: 3rem;
}
.lista-pasos li p{
    color: var(--texto-primario);
}


.lista-pasos li::marker{
    padding: 2rem;
    color: var(--text-color);
}
/* ------------------------------------------------------ */






/* FORMULARIO */

main{
    min-height: 90dvh;
    box-sizing: border-box;
    padding: 1dvh;
    background: linear-gradient(181deg, var(--bk-color1), var(--bk-color2));
    
}


.boxElegir{
    display: flex;
    flex-direction: column;
    gap: 5dvh;
    padding: 7dvh;
    min-width: 50%;
    box-sizing: border-box;
    align-items: center;
    margin: 5vh auto;
    background-color: var(--bk-color1);
    color: var(--bk-color3);
    border-radius: 15px;
    filter: drop-shadow( 0 0 3px var(--bk-color2));
    transition: background-color 0.7s, color 0.7s;
}

.btnAlumno{
    padding: 2dvh 4dvh;
    background-color: #54a5e5;
    cursor: pointer;
    border-radius: 10px;
}

.btnEmpresa{
    padding: 2dvh 4dvh;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ff0057;
}


.ctnMainFormulario{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.login{
    display: flex;
    flex-direction: column;
    gap: 5dvh;
    padding: 7dvh;
    min-width: 50%;
    box-sizing: border-box;
    margin: 5vh auto;
    background-color: var(--bk-color1);
    color: var(--bk-color3);
    border-radius: 15px;
    filter: drop-shadow( 0 0 3px var(--bk-color2));
    transition: background-color 0.7s, color 0.7s;
}

.register{
    display: none;
    flex-direction: column;
    gap: 5dvh;
    padding: 7dvh;
    min-width: 50%;
    box-sizing: border-box;
    margin: 5vh auto;
    background-color: var(--bk-color1);
    color: var(--bk-color3);
    border-radius: 15px;
    filter: drop-shadow( 0 0 3px var(--bk-color2));
    transition: background-color 0.7s, color 0.7s;
}

.tituloForm{
    text-align: center;
    font-size: 1.7rem;
}

.campo{
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    font-size: 1.3rem;
}

label{
    font-size: 1.3rem;
}

input{
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1rem;
    background: none;
    color: var(--text-color1);
}

input:focus{
    outline: none;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 2dvh;
    justify-content: space-around;
}

.btnIngresar{
    padding: 1dvh;
    color: white;
    background-color: green;
    border: none;
    border-radius: 7px;
    width: 100%;
    cursor: pointer;
}

.btnSalir{
    padding: 1dvh;
    color: white;
    background-color: red;
    border: none;
    width: 100%;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}

.drctRegistrar{
    padding: 1dvh;
    text-align: center;
    cursor: pointer;
    color: var(--text-color2);
}

.labelCV{
    font-size: 1rem;
    background: none;
    border-radius: 10px;
}

input[type='file']{
    opacity: 0;
    font-size: 1rem;
    /* visibility: hidden; */
    display: none;
}



/* ---------------------------------------------------------------------------------------------------------------------------------- */













/* MAIN */

.ctnMainIndex{
    display: flex;
    flex-direction: column;
    margin: 3dvh auto 0;
    gap: 2dvh;
    height: 100%;
}

.buscador{
    display: flex;
    text-align: center;
    margin: 0 2dvh;
    padding: 1dvh;
    border-radius: 15px;
    background-color: var(--buscador-color);
}

.inputBuscador{
    color: white;
}

.btnBuscador{
    display: flex;
    border: none;
    padding: 1dvh;
    border-radius: 10px;
    cursor: pointer;
    color: var(--buscador-color);
}

.boxCtnOfertas{
    display: grid;
    width: 100%;
    height: 76dvh;
    border-radius: 15px;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    padding: 2vh;
    gap: 5vh;
    overflow-y: auto;
    margin-block-end: 3rem;
}

.ctnOfeta{
    display: flex;
    flex-direction: column;
    gap: 4dvh;
    font-size: 1rem;
    background-color: var(--bk-color1);
    border-radius: 15px;
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
    padding: 4dvh;
    box-shadow: 0 0 10px 1px #314092;
}

.blockOferta1{
    display: flex;
    flex-direction: column;
    gap: 1dvh;
}

hr{
    border: none;
    height: 3px;
    background: #314092;
}

.ofertaCRT{
    display: flex;
    flex-direction: row;
    gap: 1dvh;
}

.ofertaTitulo{
    font-size: 2rem;
    color: #314092;
}

.blockOferta2{
    display: flex;
    flex-direction: column;
    gap: 1dvh;
}

.ofertaBtnPostularse{
    padding: 1dvh;
    border-radius: 10px;
    width: fit-content;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: var(--bk-color3);
    color: var(--text-color1);
    transition: all .3s ease-in-out;
}
.ofertaBtnPostularse:hover{
    box-shadow: rgba(0, 0, 0, 0.574) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.ofertaDescripcion{
    color: #1f1b43;
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */












/* CUENTA */

.ctnMainCuenta{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 5dvh auto;
    gap: 5dvh;
    min-width: 70%;
    max-width: 80%;
    align-items: start;
}

.ctnCuenta{
    display: grid;
    background-color: #0c154c;
    color: white;
    box-sizing: border-box;
    padding: 3dvh;
    gap: 2dvh;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
}

.ctnImgCuenta{
    width: 100px;
    
}

.ctnImgCuenta img{
    width: 100%;
}

.datosCuentaUsuario{
    width: 100%;
}

.otrosDatosCuentaUsuario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    /* color: var(--text-color); */
}

.otrosDatosCuentaUsuario p{
    padding: 1dvh;
    text-align: center;
    outline: solid 1px;
}

.btnOpcionesCuentas{
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
}

.btnOpcionesCuentas p{
    padding: 1dvh;
    background-color: var(--bk-color1);
    color: var(--text-color);
    width: -webkit-fill-available;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}



.ctnRegistros{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5dvh;
    height: 78dvh;
    border-radius: 15px;
    background-color: #0c154c;
    box-sizing: border-box;
    padding: 4dvh;

    overflow-y: auto;
}

.ctnRegistros .ctnOfeta{
    box-shadow: none;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */







/* SCROLL */
::-webkit-scrollbar{
    width: 10px;
    background-color: var(--bk-color);
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgb(82, 82, 82);
    border-radius: 10px;
}
/*  */


@media (max-width: 600px) {

    .ctnMainIndex{
        max-width: 85%;
    }

    .ctnMainCuenta{
        grid-template-columns: 1fr;
        max-width: 85%;
    }

    .ctnImgCuenta{
        width: 50px;
    }

    .ctnCuenta{
        padding: 3dvh;
        gap: 3dvh;
    }

    .ctnRegistros{
        padding: 1dvh;
    }



    .btnMenu{
        display: flex;
    }

    .listaNav{
        display: none;
        position: absolute;
        top: 10dvh;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        background: linear-gradient(0deg, var(--bk-color2), var(--bk-color1));
        padding: 2dvh;
        border-bottom-left-radius: 10px;
    }
    
    .listaNav-act{
        display: flex;
    }
}


@media (max-width: 800px) {

    .ctnMainIndex{
        max-width: 85%;
    }

    .ctnMainCuenta{
        grid-template-columns: 1fr;
        max-width: 85%;
    }

    .ctnImgCuenta{
        width: 50px;
    }

    .ctnCuenta{
        padding: 3dvh;
        gap:3dvh;
    }

    .ctnRegistros{
        padding: 1dvh;
    }
}